# Development
*.map
.eslintcache
tsconfig.tsbuildinfo

# Package managers
bower_components/
node_modules/
npm-debug.log*
package-lock.json
vendor/
yarn.lock

# Build
lib/
resources/logo.png

# Project specific
*.vsix
electron-builder.js
electron-builder.json
electron-builder.json5
electron-builder.toml
electron-builder.yaml
electron-builder.yml
dist/
todo.md
